/* 
    You can import a font from Google at https://fonts.google.com/
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC&display=swap");

body {
    font-family: "Noto Sans SC", sans-serif;
    background-color: #222222;
  }

  #front-page {
    background-image: url("public/record-player-1851576_1920.jpg");
    background-size: cover; /* This property ensures the image covers the entire element */
    background-repeat: no-repeat; /* Prevents the image from repeating */
  }
/* Nav bar Styling
 */
.navbar {
    width: 100%;
    min-height: 100px;
    height: 10vh;
    max-height: 200px;
    background-color: #0f1837;
    border-radius: 15px;
    color: white;
    display: flex;
}
.navbar ul {
    list-style: none;
    width: 95%;
    margin: 0 auto;
    padding: 20px;
    text-align: right;

  }

/*  
 * Style individual list items.
 */
.navbar li {
    width: 150px;
    padding: 10px;
    display: inline-block;
    line-height: 40px;
    margin-left: 30px;
    text-align: center;
  }
.navbar li :hover {
    background-color: #262b3c;
}
/* 
* Style links in navbar.
*/
.navbar ul li a {
    width: 100%;
    height: 100%;
    color: #fff;
    text-decoration: none;
}
/* Media query for small screens */
@media (max-width: 768px) {
    .navbar ul {
        flex-wrap: wrap; 
        justify-content: center; 
        display: inline-block;
        margin-left: 0px;
    }

    .navbar li {
        display: inline-block; 
        width: auto ;
        margin-left: 0px;
    }
}

@media (max-width: 420px) {


    .navbar li {
        display: inline-block; 
        width: auto ;
        margin-left: 0px;
        padding: 0px;
    }
}


/* 
 * Style the logo in navbar
 */
.logo {
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    justify-content: center;
    background-color: black;
}

/*
* Style the feature section
*/
.feature-contents{
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(10px); 
    border-radius: 10px; 
    padding: 20px; 
    width: 80%;
    font-size: x-large;
    font-weight: bold;
}
.feature-contents li{
    color: #fff;
}

/*
* Style the "FAQ" section
*/
#faq-heading{
    color:#fff;
    padding: 10px;
    font-size: 56px;
    text-align: center;
}
.faq-container {
    margin: 0 auto;
    padding: 4rem;
    width: 48rem;
  }
  
  .faq .faq-item {
    border-bottom: 1px solid #e5e5e5;
  }
  .faq .faq-item button[aria-expanded=true] {
    border-bottom: 1px solid white;
  }
  .faq button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 1em 0;
    color: grey;
    font-size: 1.15rem;
    font-weight: 400;
    border: none;
    background: none;
    outline: none;
  }
  .faq button:hover, .faq button:focus {
    cursor: pointer;
    color: white;
  }
  .faq button:hover::after, .faq button:focus::after {
    cursor: pointer;
    color: white;
    border: 1px solid white;
  }
  .faq button .faq-title {
    padding: 1em 1.5em 1em 0;
  }
  .faq button .icon {
    display: inline-block;
    position: absolute;
    top: 18px;
    right: 0;
    width: 22px;
    height: 22px;
    border: 1px solid;
    border-radius: 22px;
  }
  .faq button .icon::before {
    display: block;
    position: absolute;
    content: "";
    top: 9px;
    left: 5px;
    width: 10px;
    height: 2px;
    background: currentColor;
  }
  .faq button .icon::after {
    display: block;
    position: absolute;
    content: "";
    top: 5px;
    left: 9px;
    width: 2px;
    height: 10px;
    background: currentColor;
  }
  .faq button[aria-expanded=true] {
    color: white;
  }
  .faq button[aria-expanded=true] .icon::after {
    width: 0;
  }
  .faq button[aria-expanded=true] + .faq-content {
    opacity: 1;
    max-height: 9em;
    transition: all 200ms linear;
    will-change: opacity, max-height;
  }
  .faq .faq-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;
  }
  .faq .faq-content p {
    font-size: 1rem;
    font-weight: 300;
    margin: 2em 0;
    color: #fff;
  }

/*
 * Style the "pricing" Heading
 */
#pricing-heading {
color: white;
text-align: center;
padding-top: 20px;
font-size: 56px;
}

#pricing {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}

.pricing-box {
    list-style: none;
    color: white;
    display: inline-block;
    border-width: 2px;
    border-style: solid;
    margin: auto;
    padding: 20px 50px 50px 50px;
    width: 20%;
    min-height: 60vh;
}

.pricing-tier {
    text-align: center;
    font-size: xx-large;
}

.horizontal-line {
    height: 2px;
    width: 90%;
    margin: 0 auto 60px;
    background-color: white;
}

.price-benefits li {
    margin: 10px auto;
    font-size: large;
}

@media (max-width: 900px) {
    #pricing {
        flex-direction: column; 
        align-items: center; 
    }

    .pricing-box {
        width: 60%; 
        justify-content: center;
        margin: 20px auto;
        max-width: 350px;
    }
}

.heading {
    color: #9d5d1c;
    text-align: center;
    padding-top: 20px;
    font-size: 50px;
    }

.block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    margin: 50px auto;
    width: 80%; 


}

.block-contents {
    list-style: none;
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(10px); 
    border-radius: 10px; 
    padding: 20px; 
    width: 80%;
    font-size: x-large;
    font-weight: bold;

}

/*
* Styling the Testimonial section
*/
#testimonial-heading {
    color: white;
    text-align: center;
    padding-top: 20px;
    font-size: 56px;
    }
    .container {
    border: 2px rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    padding: 16px;
    margin: 16px 0
    }
    .container::after {
    content: "";
    clear: both;
    display: table;
    }
    .container img {
    float: left;
    margin-right: 20px;
    border-radius: 50%;
    }
    .container span {
    font-size: 20px;
    margin-right: 15px;
    }
    @media (max-width: 500px) {
    .container {
    text-align: center;
    }
    .container img {
    margin: auto;
    float: none;
    display: block;
    }
}
    